* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "card.css";
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.logo-link {
  font-weight: 700px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.logo-link:hover {
  color: black;
}

.google-btn,
.google-btn:hover,
.google-btn:active {
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  color: black;
  background-color: #ffffff;
  width: 360px;
}
.google-btn img {
  margin-right: 7px;
  width: 24px;
}
.divider {
  width: 23vw;
}
.divider div {
  border-bottom: 1px solid #718096;
  width: 100%;
}
.divider span {
  color: #718096;
  width: 19vw;
}

.signin-btn {
  background-color: #194bfb;
  border-radius: 12px;
  width: 300px;
}

.signin-img {
  height: 95vh;
  width: 559px;
}
.signup-img {
  height: 95vh;
  width: 569px;
}

@media only screen and (min-width: 0px) and (max-width: 490px) {
  .card {
    margin-left: -23px;
    margin-right: 2px;
  }
  .card h3 {
    font-size: 30px;
  }
  .c-marg {
    margin-left: 8px;
    margin-right: 8px;
  }
  .c-marg h3 {
    font-size: 30px;
  }
  .divider {
    width: 80vw;
  }
  .divider span {
    width: 50vw;
  }

  .signin-img {
    width: 390px;
    height: 80vh;
    margin-left: -25px;
    margin-top: 6px;
  }
  .signup-img {
    width: 383px;
    margin-left: -30px;
    height: 80vh;

    margin-top: 10px;
  }
}
@media only screen and (min-width: 490px) and (max-width: 635px) {
  .card h3 {
    font-size: 34px;
  }
  .divider {
    width: 50vw;
  }
  .divider span {
    width: 30vw;
  }
  .signin-img {
    width: 475px;
    margin-left: -29px;
    margin-top: 25px;
  }
  .signup-img {
    width: 475px;
    margin-left: -29px;
    margin-top: 25px;
  }
}
